@import "../../styles//variables.scss";

.login {
  // background-color: blue;

  .loginHeader {
    margin-bottom: 40px;

    h1 {
      color: $primary-text;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 8px;
    }
    p {
      color: $secondary-text;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .loginForm {
    form {
      display: flex;
      flex-direction: column;

      .formFields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .MuiTextField-root {
          height: 56px;
          width: 480px;
          margin-bottom: 28px;
          font-size: 40px;
        }
      }

      .formUtils {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        font-size: 14px;

        p {
          font-weight: 600;
          color: $secondary-green-text;
        }
      }

      button {
        cursor: pointer;
        color: white;
        border: none;
        height: 50px;
        // width: 480px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 8px;
        background-color: $primary-bg;
        box-shadow: $primary-bg-green-shadows;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: lighten($primary-bg, 3%);
        }
      }
    }
  }

  @include xs {
    // background-color: rgba(160, 25, 25, 0.248);
    .loginForm {
      form {
        .formFields {
          .MuiTextField-root {
            height: 46px;
            width: 350px;
            margin-bottom: 28px;
            font-size: 40px;
          }
        }

        .formUtils {
        }
      }
    }
  }

  @include sm {
    // background-color: rgba(0, 34, 255, 0.248);
    .loginForm {
      form {
        .formFields {
          .MuiTextField-root {
            height: 46px;
            width: 360px;
            margin-bottom: 28px;
            font-size: 40px;
          }
        }

        .formUtils {
        }
      }
    }
  }
}
