@import "../../styles//variables.scss";

.register {
  //   background-color: red;

  .registerHeader {
    margin-bottom: 40px;

    h1 {
      color: $primary-text;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 8px;
    }
    p {
      color: $secondary-text;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .registerForm {
    form {
      display: flex;
      flex-direction: column;

      .formFields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .name {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          .MuiTextField-root {
            height: 56px;
            width: 100%;
            margin-bottom: 24px;
            font-size: 40px;
          }
        }

        .dobPhone {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          position: relative;
          margin-bottom: 5px;

          .ant-picker {
            // background-color: red;
            top: -10px;
            height: 56px;
            width: 50%;
            transition: 0.2s;
            // border: 1px solid rgba(145, 158, 171, 0.32);
          }

          .errorText {
            font-size: 12px;
            color: red;
            position: absolute;
            top: 59px;
            left: 15px;
          }

          .MuiTextField-root {
            height: 56px;
            width: 100%;
            margin-bottom: 24px;
            // font-size: 40px;
          }
        }

        .MuiTextField-root {
          height: 56px;
          width: 480px;
          margin-bottom: 24px;
          font-size: 40px;
        }
      }

      .sumbit {
        cursor: pointer;
        color: white;
        border: none;
        height: 50px;
        // width: 480px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 8px;
        background-color: $primary-bg;
        box-shadow: $primary-bg-green-shadows;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: lighten($primary-bg, 3%);
        }
      }
    }
  }

  @include xs {
    // background-color: rgba(160, 25, 25, 0.248);

    .registerHeader {
      margin-bottom: 20px;
      margin-left: 10%;

      p {
        font-size: 14px;
      }
    }

    .registerForm {
      form {
        align-items: center;
        .formFields {
          .name {
            width: 90%;
          }

          .dobPhone {
            width: 90%;
          }

          .MuiTextField-root {
            height: 46px;
            width: 345px;
            margin-bottom: 28px;
            font-size: 40px;
          }
        }
        button {
          width: 70%;
        }
      }
    }
  }

  @include sm {
    // background-color: rgba(0, 0, 255, 0.207);

    .registerHeader {
      margin-bottom: 20px;
      margin-left: 10%;

      p {
        font-size: 14px;
      }
    }

    .registerForm {
      form {
        align-items: center;
        // width: 90%;
        .formFields {
          .name {
            width: 80%;
            .MuiTextField-root {
              height: 40px;

              margin-bottom: 28px;
              font-size: 40px;
            }
          }

          .dobPhone {
            width: 80%;
            .MuiTextField-root {
              height: 40px;

              margin-bottom: 28px;
              font-size: 40px;
            }
          }

          .MuiTextField-root {
            height: 40px;
            width: 330px;
            margin-bottom: 28px;
            font-size: 40px;
          }
        }

        button {
          width: 70%;
        }
      }
    }
  }
}
