@import "../../styles/variables.scss";

.topbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  //   background-color: red;
  padding: 5px 40px;
  margin-bottom: 15px;
  // overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.833);

  .drawerControl {
    position: absolute;
    top: 35%;
    right: 90%;
    display: none;
  }

  .search {
  }

  .topRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    // background-color: rgba(255, 0, 0, 0.151);
    .flag {
      width: 25px;
    }
    // color: #32e089;

    .rotateSetting {
      animation: rotate 8s linear infinite;
    }
  }

  .customMenu {
    background-color: red;
  }
  #searchInput {
    font-size: 20px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .topbar {
    // background-color: red;
    .drawerControl {
      display: inline;
    }
  }

  .search {
    margin-left: 10%;
  }
}
