@import "../../styles/variables.scss";

.ecommerce {
  width: 80%;
  // background-color: rgba(255, 0, 0, 0.422);
  display: grid;
  gap: 24px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 450px);

  .box {
    // display: none;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.24),
      0px 0px 2px 0px rgba(145, 158, 171, 0.24);
  }

  .box1 {
    grid-column: span 2;
    grid-row: span 2;
    box-shadow: none;
  }

  .box2 {
    grid-row: span 2;
    box-shadow: none;
  }

  .statCards {
    height: 166px;
  }

  .pieBox {
    grid-row: span 3;
  }

  .lineBox {
    grid-column: span 2;
    grid-row: span 3;
  }

  .sales {
    grid-column: span 2;
    grid-row: span 2;
  }

  .currBalanceBox {
    grid-row: span 2;
  }

  .bestSalesman {
    grid-row: span 3;
    grid-column: span 2;
  }

  .latProducts {
    grid-row: span 2;
    padding-bottom: 10px;
  }
}

// RESPONSIVENESS
// -------------------------------------------------
@media screen and (min-width: 0px) and (max-width: ($lg)) {
  .ecommerce {
    width: 97%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(22, 250px);

    .box {
      display: none;
    }

    .box1 {
      grid-column: span 1;
      grid-row: span 3;
      box-shadow: none;
      display: inline;
      .banner {
        // background-color: red;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .bannerLeft {
          flex: 1;
          // background-color: red;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 70%;
          // margin: 0;
          // padding: 0px;
          // margin-bottom: 20px;

          h1 {
            width: 100%;
          }

          p {
            // background-color: red;
            width: 100%;
            word-wrap: normal;
          }

          @include sm {
            p {
              display: none;
            }
          }
        }

        .bannerRight {
          flex: 1;
          // background-color: blue;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 50%;
          position: relative;

          .imgFront {
            top: 5%;
            left: 5%;
          }
        }
      }
    }

    .box3 {
      display: block;
      grid-row: span 1;
      width: 98%;
    }
    .box4 {
      display: inline;
      grid-row: span 1;
      width: 98%;
    }
    .box5 {
      display: inline;
      grid-row: span 1;
      width: 98%;
    }

    .pieBox {
      display: block;
      grid-row: span 2;
      .donutChart {
        .hoveredValue {
          top: 35%;
          left: 40%;
        }
      }
    }

    .lineBox {
      display: inline;
      overflow: hidden;
      grid-row: span 2;
      grid-column: span 1;
      width: 100%;
      height: 100%;

      .lineCh {
        // position: relative;

        div {
          .apexcharts-canvas {
          }
        }
      }
    }

    .sales {
      display: inline;
      grid-column: span 1;
      grid-row: span 1;
    }

    .currBalanceBox {
      display: inline;
      grid-row: span 1;
      .latProds {
        .buttons {
          button {
            width: 40%;
          }
        }
      }
    }

    .bestSalesman {
      display: inline;
      grid-row: span 2;
      grid-column: span 1;
      overflow-x: scroll;
    }

    .latProducts {
      grid-row: span 1;
      padding-bottom: 10px;
      display: inline;
      overflow-x: scroll;
      height: 100%;

      .items {
        // background-color: red;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow-x: scroll;
        height: 100%;
        gap: 30px;

        .item {
          // background-color: red;
          // width: 50%;
          height: 200px;

          img {
            height: 150px;
            width: 150px;
          }
        }
      }
    }

    .invoiceBox {
      // overflow: hidden;
      grid-row: span 2;
      grid-column: span 1;
      width: 100%;
      height: 100%;
      display: inline;
      overflow-x: scroll;
      // background-color: red;

      .invoices {
      }
    }

    .relatedAppBox {
      // display: none;
      overflow-x: scroll;
      grid-row: span 2;
      grid-column: span 1;
      width: 100%;
      height: 100%;
    }

    .installedCount {
      // display: none;
      grid-row: span 2;
      grid-column: span 1;
      width: 100%;
      height: 90%;
      overflow-x: scroll;
      .installedCountries {
        .items {
          gap: 45px;
          // background-color: red;
          justify-content: space-between;
        }
      }
    }

    .authors {
      // display: none;
      grid-row: span 1;
      grid-column: span 1;
      width: 100%;
      height: 90%;
      overflow-y: scroll;
    }

    .percentageCards {
      grid-row: span 1;
      grid-column: span 1;
      width: 100%;
      height: 60%;
      overflow-x: hidden;

      .percentageCard {
        width: 100%;
        height: 100%;

        .chart {
          height: 100%;
          width: 30%;
        }

        .info {
          top: 30%;
          left: 25%;
          h1 {
            font-size: 32px;
          }
        }
      }
    }
  }
}

@include xl {
  .ecommerce {
    // background-color: rgb(0, 255, 106);
    grid-template-columns: repeat(3, 300px);

    .currBalanceBox {
      .latProds {
        // background-color: red;
        .buttons {
          button {
            width: 45%;
          }
        }
      }
    }
  }
}

@include xxl {
  .dashboardApp {
    // background-color: yellow;
    grid-template-columns: repeat(3, 450px);
  }
}

@media screen and (min-width: ($lg)) and (max-width: ($xxl)) {
  .ecommerce {
    .box2 {
      .carousalComp {
        .slick-slider {
          .slick-list {
            .slick-track {
              .slick-slide {
                .carItem {
                  img {
                    width: 100%;
                    height: 320px;
                    // object-fit: scale-down;
                    border-radius: 16px;
                  }

                  .textInfo {
                    background: linear-gradient(
                      180deg,
                      rgba(0, 0, 0, 0) 0%,
                      rgba(0, 0, 0, 0.55) 100%
                    );
                    // background-color: red;
                    position: absolute;
                    z-index: 10;
                    top: 20%;
                    // left: 20%;
                    height: 100%;
                    width: 100%;
                    padding-left: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: center;

                    h1 {
                      font-size: 14px;
                      color: #85ff91;
                      margin-bottom: 15px;
                      font-weight: 700;
                    }

                    .title {
                      font-size: 18px;
                      color: white;
                      font-weight: 700;
                      margin-bottom: 10px;
                    }

                    .subText {
                      font-size: 12px;
                      color: rgb(232, 232, 232);
                      width: 80%;
                      font-weight: 400;
                    }

                    button {
                      @include primaryGreenButton;
                      display: flex;
                      padding: 0px 10px;
                      justify-content: center;
                      align-items: center;
                      width: fit-content;
                      font-size: 12px;
                      font-weight: 700;
                      border-radius: 8px;
                      height: 30px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
