.dashboardLayout {
  //   background-color: purple;
  width: 100vw;
  display: flex;
  position: relative;
  // align-items: center;
  // position: fixed;

  .sidebar {
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    // display: none;
    // width: 250px;
    // background-color: red;
    height: 100vh;
    padding: 35px 10px 10px 5px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    transition: width 0.4s;
  }

  .children {
    width: 100%;
    height: 100%;
    position: relative;
    // background-color: yellow;
    // padding: 25px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    .dashApps {
      // background-color: blue;
      display: flex;
      // align-items: center;
      justify-content: center;
      // background-color: red;
      padding-bottom: 30px;
    }
  }
}
