@import "../styles/variables.scss";

.dashboardLayout {
  width: 100vw;
  display: flex;
  // align-items: center;
  justify-content: space-around;
  // position: relative;
  // background-color: rgba(0, 128, 0, 0.337);

  .sidebar {
    // background-color: rgba(255, 0, 0, 0.24);

    overflow: hidden;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;

    height: 100vh;
    padding: 35px 10px 10px 5px;

    transition: width 0.4s;
  }

  .children {
    width: 100%;
    height: 100%;
    position: relative;
    // background-color: rgba(0, 0, 255, 0.396);
    // overflow: hidden;

    .dashApps {
      width: 100%;
      // background-color: rgba(255, 68, 0, 0.479);
      display: flex;
      flex-direction: column;
      align-items: center;

      // justify-content: center;

      padding-bottom: 100px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .dashboardLayout {
    // background-color: red;
    // width: 100vw;
    .sidebar {
      display: none;
    }

    .children {
      width: 100vw;
      // background-color: red;
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 1199px) {
  .dashboardLayout {
    .children {
      // background-color: red;
      width: 83%;
      .dashApps {
      }
    }
  }
}
