// TEXT
$primary-text:#212B36;
$secondary-text : #637381;

$primary-green-text:#005249;
$secondary-green-text :#00AB55;



// BG 
$primary-bg:#00AB55;


// Shadows
$primary-bg-green-shadows: 0px 8px 16px 0px rgba(0, 171, 85, 0.24);
