// TEXT
$primary-text: #212b36;
$secondary-text: #637381;

$primary-green-text: #005249;
$secondary-green-text: #00ab55;

// Buttons
@mixin primaryGreenButton {
  cursor: pointer;
  color: white;
  border: none;
  height: 50px;
  // width: 480px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
  background-color: $primary-bg;
  box-shadow: $primary-bg-green-shadows;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: lighten($primary-bg, 3%);
  }
}

// BG
$primary-bg: #00ab55;

// Shadows
$primary-bg-green-shadows: 0px 8px 16px 0px rgba(0, 171, 85, 0.24);

// RESPONSIVENESS
// ---------------------------------------------
$xs: 390px;
$sm: 600px;
$md: 1000px;
$lg: 1200px;
$xl: 1736px;
$xxl: 2560px;

@mixin xs {
  @media screen and (min-width: 0px) and (max-width: ($xs)) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: ($xs)) and (max-width: ($sm)) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: ($sm)) and (max-width: ($md)) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: ($md)) and (max-width: ($lg)) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: ($lg)) and (max-width: ($xl)) {
    @content;
  }
}

@mixin xxl {
  @media screen and (min-width: ($xl)) and (max-width: ($xxl)) {
    @content;
  }
}
