@import "../../styles//variables.scss";

.forgotPw {
  // background-color: rgba(0, 0, 255, 0.185);
  // padding: 20px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // width: 90%;
  // position: relative;
  // height: 100%;

  .formUtils {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    // background-color: red;

    font-size: 14px;

    p {
      font-weight: 600;
      color: $secondary-green-text;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .fpHeader {
    margin-bottom: 40px;

    h1 {
      color: $primary-text;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 8px;
    }
    p {
      color: $secondary-text;
      font-size: 16px;
      font-weight: 400;
      width: 400px;
    }
  }

  .fpForm {
    form {
      display: flex;
      flex-direction: column;

      .formFields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .MuiTextField-root {
          height: 56px;
          width: 480px;
          margin-bottom: 28px;
          font-size: 40px;
        }
      }

      button {
        cursor: pointer;
        color: white;
        border: none;
        height: 50px;
        // width: 480px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 8px;
        background-color: $primary-bg;
        box-shadow: $primary-bg-green-shadows;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: lighten($primary-bg, 3%);
        }
      }
    }
  }

  // -----------------------------------------------------

  @include xs {
    .fpHeader {
      p {
        color: red;
      }
    }
  }

  @include sm {
    // background-color: rgba(0, 0, 255, 0.267);
    width: 100%;

    .formUtils {
      align-items: start;
    }

    .fpHeader {
      // background-color: red;
      width: 90%;
      align-items: center;
      margin-bottom: 20px;

      h1 {
        // background-color: red;
      }
      p {
        display: inline;
        font-size: 12px;
      }
    }

    .fpForm {
      // background-color: red;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      form {
        .formFields {
          .MuiTextField-root {
            width: 100%;
          }
        }
      }
    }
  }
}
