@import "../../styles//variables.scss";

.carousalComp {
  position: relative;
  height: 324px;
  width: 504px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 16px;

  .slick-slider {
    // background-color: red;
    height: 100%;
    width: 100%;
    position: relative;
    // background-color: purple;

    .slick-prev {
      position: absolute;
      top: 30px;
      left: 400px;
      z-index: 15;
      opacity: 0.5;
    }

    .slick-list {
      height: 100%;
      width: 100%;
      border-radius: 16px;
      .slick-track {
        .slick-slide {
          .carItem {
            img {
              width: 100%;
              // height:;
              object-fit: cover;
              border-radius: 16px;
            }

            .textInfo {
              background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.75) 100%
              );
              position: absolute;
              z-index: 10;
              top: 20%;
              height: 100%;
              width: 100%;
              padding-left: 24px;
              display: flex;
              flex-direction: column;
              align-items: start;
              justify-content: center;

              h1 {
                font-size: 16px;
                color: #85ff91;
                margin-bottom: 15px;
                font-weight: 700;
              }

              .title {
                font-size: 23px;
                color: white;
                font-weight: 700;
                margin-bottom: 10px;
              }

              .subText {
                font-size: 14px;
                color: rgb(232, 232, 232);
                width: 80%;
                font-weight: 400;
              }

              button {
                @include primaryGreenButton;
                display: flex;
                padding: 0px 10px;
                justify-content: center;
                align-items: center;
                width: fit-content;
                font-size: 12px;
                font-weight: 700;
                border-radius: 8px;
                height: 30px;
              }
            }
          }
        }
      }
    }

    .slick-next {
      position: absolute;
      top: 30px;
      left: 450px;
      z-index: 15;
      opacity: 0.5;
    }

    .slick-dots {
      position: absolute;
      // top: 0px;
      // left: 450px;
      left: -180px;
      top: 10px;
      z-index: 20;
      // opacity: 0.5;

      li {
        margin: 0;
        padding: 0;

        button {
          &::before {
            content: "";
            display: flex;
            align-items: center;
            justify-content: center;
            /* Customize the size of the dots here */
            width: 10px;
            height: 10px;
            background-color: #949494; /* Change the color as needed */
            border-radius: 50%;
            opacity: 0.55;
          }
        }
      }
    }
  }
}
