@import "../../styles/variables.scss";
.sidebar {
  // background-color: rgba(255, 0, 0, 0.588);
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  width: 300px;

  border-right: 1px solid rgb(215, 215, 215);

  .logoContainer {
    // background-color: blue;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 15px;

    img {
      width: 40px;
    }
  }

  .adminTab {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 100%;
    height: 70px;
    padding: 10px;
    border-radius: 12px;
    background: var(--06-grey-200, #ebecec);
    margin-bottom: 20px;
    width: max-content;

    img {
      width: 40px;
      border-radius: 50%;
    }
  }

  .topic {
    width: 100%;
    text-align: left;
    color: #637381;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    // align-items: center;
    h1 {
      color: #212b36;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1.1px;
      text-transform: uppercase;
    }
    // background-color: rgba(0, 0, 255, 0.196);

    .item {
      // background-color: yellow;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 50px;
      width: 100%;
      transition: 0.2s;
      border-radius: 8px;
      margin: 0px 0px;

      p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        margin-left: 15px;
      }

      .MuiSvgIcon-root {
        /* Replace 'your_color' with your desired color value */
        fill: #637381;
      }

      &:hover {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        // color: #212b36;
        background-color: #f6f7f8;
      }
    }

    &:last-child {
      h1 {
        // background-color: red;
        margin: 20px 0px;
      }
    }
  }

  .drawerControl {
    position: absolute;
    top: 5px;
    right: 0;
  }

  .selectedLink {
    color: #00ab55;
    background-color: #00ab5618;
  }

  .nonSelectedHover {
    background-color: #6373811b;
    color: #212b36;
  }
}

@media screen and (min-width: ($sm)) and (max-width: ($lg)) {
  .sidebar {
    // background-color: red;
    width: 100px;

    .adminTab {
      // display: none;
      .adminInfo {
        display: none;
      }
    }

    .topic {
      padding-left: 0px;

      h1 {
        display: none;
      }
      .item {
        // background-color: #00ab5666;
        flex-direction: column;
        height: 70px;
        align-items: center;
        justify-content: center;
        width: 80px;

        p {
          font-size: 12px;
          margin: 0px;
        }

        .MuiSvgIcon-root {
        }
      }
    }
  }
}
