.relatedApps {
  //   background-color: red;
  width: 100%;
  height: 100%;
  //   background-color: red;
  .title {
    color: #212b36;
    /* H6 heading */
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 20px;
  }

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    .item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      .left {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftLeft {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgb(235, 243, 255);
          padding: 10px;
          border-radius: 8px;
          margin-right: 15px;
          img {
            height: 24px;
            width: 24px;
          }
        }

        .leftRight {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .top {
            width: 100%;
            color: #212b36;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            margin-bottom: 5px;
            // background-color: rgba(255, 0, 0, 0.145);
          }

          .bottom {
            width: 100%;
            color: #637381;
            font-size: 12px;
            // width: 80px;
            font-weight: 400;
            line-height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: red;

            .amount {
              margin-left: 8px;
              width: fit-content;
              padding: 2px 10px;
              border-radius: 5px;
              text-align: center;
              font-size: 12px;
              font-weight: 700;
              color: #229a16;
              background-color: rgba(84, 214, 44, 0.16);
            }

            .notFree {
              color: #b72136;
              background-color: rgba(255, 72, 66, 0.16);
            }
          }
        }
      }
    }
  }
}
