@import "../../styles/variables.scss";

.products {
  // background-color: rgba(255, 0, 0, 0.377);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: #212b36;

      /* Desktop/H4 */
      font-family: Public Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px; /* 150% */
      margin-bottom: 5px;
    }

    // background-color: yellow;
    .left {
      p {
        color: #212b36;

        /* Desktop/Body2 */
        font-family: Public Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
      }
    }

    .right {
      position: relative;
      button {
        position: absolute;
        cursor: pointer;
        top: -20px;
        right: 15px;
        display: flex;
        padding: 6px 12px;
        width: 140px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #212b36;
        color: white;
        border-radius: 8px;
        transition: 0.3s;

        &:hover {
          background-color: #46505c;
        }
      }
    }
  }
  .tableUtils {
  }

  .prodTable {
    padding: 5px;
    width: 100%;
    // background-color: yellow;
  }
}

@media screen and (min-width: 0px) and (max-width: ($lg)) {
  .products {
    // background-color: red;
    width: 95%;

    .header {
      h1 {
        font-size: 18px;
      }

      .left {
        p {
          font-size: 12px;
        }
      }

      .right {
        button {
          padding: 6px 5px;
          width: 100px;
        }
      }
    }
  }
}
