@import "../../styles/variables.scss";

.comingSoon {
  //   background-color: rgba(255, 0, 0, 0.119);
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;

  width: 100%;

  .header {
    margin-bottom: 20px;
    h1 {
      color: #212b36;
    }
    p {
      color: #637381;
    }
  }

  img {
    width: 350px;
    object-fit: cover;
  }
}

@media screen and (min-width: 0px) and (max-width: ($lg)) {
  .comingSoon {
    margin: 50%;
    .header {
      padding-left: 10px;
      h1 {
        font-size: 16px;
      }
    }

    img {
      width: 250px;
    }
  }
}
