@import "../../styles//variables.scss";

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c8facd;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;

  .bannerLeft {
    flex: 2;
    padding-left: 40px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;

    h1 {
      color: #212b36;
      font-size: 24px;
    }
    p {
      color: #5b6d80;
      width: 100%;
      font-size: 14px;
    }
    button {
      @include primaryGreenButton;
      display: flex;
      padding: 0px 10px;
      justify-content: center;
      align-items: center;
      width: fit-content;
      font-size: 14px;
      font-weight: 700;
      border-radius: 8px;
      height: 40px;
    }
  }

  .bannerRight {
    flex: 1;
    position: relative;
    width: fit-content;

    .imgBg {
      width: 310px;
      position: absolute;
      top: -115px;
      right: 30px;
    }

    .imgFront {
      height: 200px;
      position: absolute;
      top: -100px;
      right: 55px;
    }
  }
}

@include md {
  .banner {
    width: 100%;
  }
}

@include lg {
  .banner {
    width: 100%;
  }
}

@include xl {
  .banner {
    width: 100%;
  }
}

@include xxl {
  .banner {
    width: 100%;
  }
}
