@import "../../styles//variables.scss";

.dashboardApp {
  width: 80%;
  // background-color: rgba(255, 0, 0, 0.422);
  display: grid;
  gap: 24px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 450px);
  // grid-auto-rows: minmax(150px, auto);
  // grid-auto-columns: minmax(200px, 400px);

  .box {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: white;
    box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.24),
      0px 0px 2px 0px rgba(145, 158, 171, 0.24);
  }

  .box1 {
    grid-column: span 2;
    grid-row: span 2;
    box-shadow: none;
  }

  .box2 {
    grid-row: span 2;
    box-shadow: none;
  }

  .statCards {
    height: 166px;
  }

  .pieBox {
    grid-row: span 3;
  }

  .lineBox {
    grid-column: span 2;
    grid-row: span 3;
  }

  .invoiceBox {
    grid-column: span 2;
    grid-row: span 3;
  }

  .relatedAppBox {
    grid-row: span 3;
    height: 440px;
  }

  .installedCount {
    grid-row: span 2;
  }

  .authors {
    grid-row: span 2;
    height: 290px;
  }

  .percentageCards {
  }

  .conversions {
    height: 135px;
  }

  .applications {
    height: 135px;
  }
}

// RESPONSIVENESS
// -------------------------------------------------
@media screen and (min-width: 0px) and (max-width: ($lg)) {
  .dashboardApp {
    width: 97%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(22, 250px);

    .box {
    }

    .box1 {
      grid-column: span 1;
      grid-row: span 3;
      box-shadow: none;
      .banner {
        // background-color: red;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .bannerLeft {
          flex: 1;
          // background-color: red;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 70%;
          // margin: 0;
          // padding: 0px;
          // margin-bottom: 20px;

          h1 {
            width: 100%;
          }

          p {
            // background-color: red;
            width: 100%;
            word-wrap: normal;
          }

          @include sm {
            p {
              display: none;
            }
          }
        }

        .bannerRight {
          flex: 1;
          // background-color: blue;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 50%;

          .imgBg {
            top: 5%;
          }

          .imgFront {
            top: 5%;
          }
        }
      }
    }

    .box2 {
      // background-color: red;
      grid-row: span 2;
      grid-column: span 1;
      // width: 87vw;
      width: 97vw;
      height: 100%;
      display: none;

      .carousalComp {
        width: 100%;
        // overflow: hidden;
        border: none;
      }
    }

    .box3 {
      // display: none;
      grid-row: span 1;
      width: 98%;
    }
    .box4 {
      // display: none;
      grid-row: span 1;
      width: 98%;
    }
    .box5 {
      // display: none;
      grid-row: span 1;
      width: 98%;
    }

    .pieBox {
      // display: none;
      grid-row: span 2;
      .donutChart {
        .hoveredValue {
          top: 35%;
          left: 40%;
        }
      }
    }

    .lineBox {
      overflow: hidden;
      grid-row: span 2;
      grid-column: span 1;
      width: 100%;
      height: 100%;

      .lineCh {
        // position: relative;

        div {
          .apexcharts-canvas {
          }
        }
      }
    }

    .invoiceBox {
      // overflow: hidden;
      grid-row: span 2;
      grid-column: span 1;
      width: 100%;
      height: 100%;
      // display: none;
      overflow-x: scroll;
      // background-color: red;

      .invoices {
      }
    }

    .relatedAppBox {
      // display: none;
      overflow-x: scroll;
      grid-row: span 2;
      grid-column: span 1;
      width: 100%;
      height: 100%;
    }

    .installedCount {
      // display: none;
      grid-row: span 2;
      grid-column: span 1;
      width: 100%;
      height: 90%;
      overflow-x: scroll;
      .installedCountries {
        .items {
          gap: 45px;
          // background-color: red;
          justify-content: space-between;
        }
      }
    }

    .authors {
      // display: none;
      grid-row: span 1;
      grid-column: span 1;
      width: 100%;
      height: 90%;
      overflow-y: scroll;
    }

    .percentageCards {
      grid-row: span 1;
      grid-column: span 1;
      width: 100%;
      height: 60%;
      overflow-x: hidden;

      .percentageCard {
        width: 100%;
        height: 100%;

        .chart {
          height: 100%;
          width: 30%;
        }

        .info {
          top: 30%;
          left: 25%;
          h1 {
            font-size: 32px;
          }
        }
      }
    }

    .conversions {
      // display: none;
    }

    .applications {
      // display: none;
    }
  }
}

@include xl {
  .dashboardApp {
    // background-color: rgb(0, 255, 106);
    grid-template-columns: repeat(3, 300px);
  }
}

@include xxl {
  .dashboardApp {
    // background-color: yellow;
    grid-template-columns: repeat(3, 450px);
  }
}
